---
import Layout from '../layouts/Layout.astro';
import "../styles/home.css"
import "../styles/sun.css"
import SkillsComponent from '../react/skills';
import "../styles/ocean.scss"
import Projects from "../components/Projects.astro"
---

<Layout title="Welcome to Astro.">
	<div class="sun"></div>
	<div class="moon hide">
		<div class="crater--0"></div>
		<div class="crater--1"></div>
		<div class="crater--2"></div>
		<div class="crater--3"></div>
		<div class="crater--4"></div>
		<div class="crater--5"></div>
		<div class="crater--6"></div>
		<div class="crater--7"></div>
    </div>
	<main>
		<div id="cloud-container"></div>
		<div class="sky">
		<div class="title-container">
			<h1 class="transition" id="title">Dallas Palumbo Web Developer</h1>
			<div class="plane-container">
				<div class="line"></div>
				<img class="plane" src="/plane.png" alt="plane">
			</div>
		</div>
		<div class="pic-hero">
			<div class="image-container">
				<img class="ballons" src="/ballons.png" alt="ballons"/>
				<img class="profile transition" src="https://placekitten.com/300/300" alt="profile pic"/>
			</div>
			<div class="text-bio">
				<img class="ballons ballons2" src="/ballons.png" alt="ballons"/>
				<p class="cloudy-paragraph transition">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium harum nemo illum veniam repellendus magni ratione, eligendi minus, nobis dolorum ex odio facilis. Pariatur odio reiciendis velit voluptatem a ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ut nobis quo nostrum ullam deleniti adipisci molestias accusantium, qui asperiores placeat officiis quae reiciendis, exercitationem aliquid, hic accusamus? Iure, ipsum?</p>
			</div>
		</div>  
	</div>
	<div class="sky2">
		<div class="skills-title transition">
		<h2>My Tech Stack</h2>
		<p>These are the tools and technologys I use in a professional day to day setting and also that i love to use to bring projects to life!</p>
		</div>
        <SkillsComponent client:load/>
    </div>
	
	<div class="ocean">
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#071EED" fill-opacity="1" d="M0,128L48,144C96,160,192,192,288,176C384,160,480,96,576,58.7C672,21,768,11,864,32C960,53,1056,107,1152,117.3C1248,128,1344,96,1392,80L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
		<Projects/>
	</div>

	</main>
</Layout>


<script src="../scripts/scrollTrigger"></script>
<script src="../scripts/darkmode"></script>
<script src="../scripts/stars"></script>
<script src="../scripts/clouds.ts"></script>


