---
import Layout from '../layouts/Layout.astro';
import "../styles/home.css"
import "../styles/sun.css"
import SkillsComponent from '../react/skills';
import "../styles/ocean.scss"
import "../styles/stars.scss"
import "../styles/clouds.scss"
import Projects from "../components/Projects.astro"

const numberOfStars = 100;
const stars = Array.from({ length: numberOfStars }, (_, i) => i + 1);
const clouds = Array.from({ length: 10 }, (_, i) => i + 1);
---

<Layout title="Welcome to Astro.">
	<!-- <div class="sun"></div> -->
	<div class="moon hide">
		<div class="crater--0"></div>
		<div class="crater--1"></div>
		<div class="crater--2"></div>
		<div class="crater--3"></div>
		<div class="crater--4"></div>
		<div class="crater--5"></div>
		<div class="crater--6"></div>
		<div class="crater--7"></div>
    </div>
	<main>
		<!-- <div id="cloud-container"></div> -->
		<div class="sky">
			{stars.map(i => (
				<div class={`star hide star-${i}`}></div>
			))}
			<!-- {clouds.map(i => (
				<div class={`wrapper wrapper-${i}`}>
					<div class={`cloud cloud-${i}`}></div>
				</div>
			))} -->
		<div class="title-container">
			<h1 class="transition" id="title">Dallas Palumbo Web Developer</h1>
			<div class="plane-container">
				<div class="line"></div>
				<img class="plane" src="/plane.png" alt="plane">
			</div>
		</div>
		<div class="pic-hero">
			<div class="image-container">
				<img class="ballons" src="/ballons.png" alt="ballons"/>
				<img class="profile transition" src="https://placekitten.com/300/300" alt="profile pic"/>
			</div>
			<div class="text-bio">
				<img class="ballons ballons2" src="/ballons.png" alt="ballons"/>
				<p class="cloudy-paragraph transition">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium harum nemo illum veniam repellendus magni ratione, eligendi minus, nobis dolorum ex odio facilis. Pariatur odio reiciendis velit voluptatem a ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ut nobis quo nostrum ullam deleniti adipisci molestias accusantium, qui asperiores placeat officiis quae reiciendis, exercitationem aliquid, hic accusamus? Iure, ipsum?</p>
			</div>
		</div>  
	</div>
	<div class="sky2">
		{stars.map(i => (
			<div class={`star hide star-${i}`}></div>
		))}
		<div class="skills-title transition">
		<h2>My Tech Stack</h2>
		<p>These are the tools and technologys I use in a professional day to day setting and also that i love to use to bring projects to life!</p>
		</div>
        <SkillsComponent client:load/>
    </div>
	
	<div class="ocean">
		 <div class="wave"></div>
		 <div class="wave"></div>
		<Projects/>
	</div>

	</main>
</Layout>


<script src="../scripts/scrollTrigger"></script>
<script src="../scripts/darkmode"></script>
<script src="../scripts/stars"></script>
<script src="../scripts/clouds.ts"></script>


