---
import Layout from "../layouts/Layout.astro";
import "../styles/home.css";
import "../styles/sun.css";
import SkillsComponent from "../react/skills";
import "../styles/ocean.scss";
import "../styles/stars.scss";
import "../styles/clouds.scss";
import Projects from "../components/Projects.astro";
import Nav from "../components/nav.astro"
import Footer from "../components/footer.astro";

const numberOfStars = 100;
const stars = Array.from({ length: numberOfStars }, (_, i) => i + 1);
const clouds = Array.from({ length: 10 }, (_, i) => i + 1);
---

<Layout title="Welcome to Astro.">
	<Nav/>
	<div class="sun"></div>
	<div class="moon hide">
		<div class="crater--0"></div>
		<div class="crater--1"></div>
		<div class="crater--2"></div>
		<div class="crater--3"></div>
		<div class="crater--4"></div>
		<div class="crater--5"></div>
		<div class="crater--6"></div>
		<div class="crater--7"></div>
	</div>
	<main>
		<!-- <div id="cloud-container"></div> -->
		<div class="sky" id="about">
			{stars.map((i) => <div class={`star hide star-${i}`} />)}
			{
				clouds.map((i) => (
					<div class={`wrapper wrapper-${i}`}>
						<div class={`cloud cloud-${i}`} />
					</div>
				))
			}
			<div class="title-container">
				<h1 class="transition" id="title">
					Dallas Palumbo Web Developer
				</h1>
				<div class="plane-container">
					<div class="line"></div>
					<img class="plane" src="/plane.png" alt="plane" />
				</div>
			</div>
			<div class="pic-hero">
				<div class="image-container">
					<img class="ballons" src="/ballons.png" alt="ballons" />
					<img
						class="profile transition"
						src="/dallas.jpg"
						alt="profile pic"
					/>
				</div>
				<div class="text-bio">
					<img
						class="ballons ballons2"
						src="/ballons.png"
						alt="ballons"
					/>
					<div class="cloudy-paragraph transition">
						<p>
							Welcome! I'm Dallas, a software developer from
							Queens, NYC. My journey began with childhood
							adventures across the web, inspiring my passion for
							creating engaging digital experiences.
						</p>
						<p>
							With a unique background in yoga, music, and live
							audio, I bring diverse problem-solving skills to my
							coding. This site showcases my projects and skills,
							reflecting two years of professional experience and
							my commitment to growth.
						</p>
						<p>
							What drives me? The limitless potential to transform
							ideas into reality. Let's connect and create
							something amazing together—maybe even inspire the
							next generation of developers!
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="sky2">
			{stars.map((i) => <div class={`star hide star-${i}`} />)}
			<!-- <img class="bird" src="/bird.png"/> -->
			<div class="skills-title transition">
				<h2 id="skills">My Tech Stack</h2>
				<p>
					These are the tools and technologys I use in a professional
					day to day setting and also that i love to use to bring
					projects to life!
				</p>
			</div>
			<SkillsComponent client:load />
		</div>

		<div class="ocean">
			<div class="wave"></div>
			<div class="wave"></div>
			<Projects />
		</div>
	</main>
	<Footer/>
</Layout>

<style>

.bird{
	animation: Fly 5s ease-in-out infinite;
}


@keyframes Fly{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(20deg);}
}
</style>

<script src="../scripts/scrollTrigger"></script>
<script src="../scripts/darkmode"></script>
<script src="../scripts/stars"></script>
<script src="../scripts/clouds.ts"></script>
