
<div class="projects-title-container">
    <h4 class="projects-title">My Projects</h4>
    <div class="projects-container">
        <div class="project">
            <img src="https://ichef.bbci.co.uk/news/480/cpsprodpb/2cfc/live/582ee2a0-359d-11ef-a044-9d4367d5b599.jpg.webp" alt="project img"/>
            <img class="anchor" src="/anchor.png" alt="anchor weighting project container down">
        </div>
        <div class="project">
            <img src="https://ichef.bbci.co.uk/news/480/cpsprodpb/2cfc/live/582ee2a0-359d-11ef-a044-9d4367d5b599.jpg.webp" alt="project img"/>
            <img class="anchor" src="/anchor.png" alt="anchor weighting project container down">
        </div>
        <div class="project">
            <img src="https://ichef.bbci.co.uk/news/480/cpsprodpb/2cfc/live/582ee2a0-359d-11ef-a044-9d4367d5b599.jpg.webp" alt="project img"/>
            <img class="anchor" src="/anchor.png" alt="anchor weighting project container down">
        </div>
        <div class="project">
            <img src="https://ichef.bbci.co.uk/news/480/cpsprodpb/2cfc/live/582ee2a0-359d-11ef-a044-9d4367d5b599.jpg.webp" alt="project img"/>
            <img class="anchor" src="/anchor.png" alt="anchor weighting project container down">
        </div>
    </div>
</div>
