.dark-descriptions, .dark-descriptions > p{
  background-color: black !important;
}



.test{
    background-color: aqua;
    z-index: 99;
    font-size: 5rem;
}

.skill-total-container{
  // background-color: aliceblue;
  position: relative;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    // z-index: 999;
    z-index: 1;
    position: relative;
    margin-bottom: 15em;
    // background-color: red;
}

.single-skill{
  //  opacity: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 10;
    // position: relative;
}

.skill-img{
    width: 250px;
    position: relative;
    z-index: 15;
    animation: float 5s ease-in-out infinite;
    cursor: pointer;
}

.skill-background{
    background-color: black;
    padding:10px;
    border-radius: 20px;
    transition: background-color 2s;
    cursor: pointer;
}


.dark-skills{
  background-color: var(--cloud-white);
}


.skill-description{
  position: absolute;
  background-color: var(--cloud-white);
  min-height: 100%;
  width: 200%;
  max-width: 90vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(-35%);
  transition: transform 1s ease, opacity 1s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: #E6E7E1;
  cursor: pointer;
}

.skill-description >h6{
  text-decoration: underline;
  font-size: 2rem;
  padding: 10px;
  margin: 0;
}

.skill-description > p{
  line-height: 1.5;
  padding: 1em;
  font-size: 1.5rem;
  background-color: var(--cloud-white)
}

.description-show{
  opacity: 1;
  transform: translateX(-25%);
  z-index: 100;
  border: 2px solid green;
}


 .balloon {
    display:inline-block;
    width:60px;
    height:85px;
    background:hsl(215,50%,65%);
    border-radius:80%;
    position:relative;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
    transition:transform 0.5s ease;
    z-index:1;
    /* animation:balloons 4s ease-in-out infinite; */
    transform-origin:bottom center;
  } 

  .balloon:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  

  .pop{
    opacity: 0;
  }

  .pop:hover:hover{
    cursor: default;
  }
  
  .pop-image{
    width:75px;
    position: absolute;
    top: 0px;
    opacity: 0;
  }

  .pop-animation{
    animation: popAnimation 1s forwards;
  }

  .skill-fall {
    animation: fallingSkill 2s forwards;
    cursor:auto;
  }

  .falling-wind{
    position: absolute;
    /* bottom: 0; */
    opacity: 0;
  }

  .falling-wind-animation{
    animation: fallingWindAnimation .5s forwards;
  }

  @keyframes popAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
  @keyframes fallingWindAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
  

@keyframes fallingSkill {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(1000px);
        opacity: 0;
    }
}

@keyframes floatUp {
  0% {
      transform: translateY(1000px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.float-up-animation {
  animation: floatUp 1.5s forwards;
}

  
  .balloon:before {
    content:"▲";
    font-size:20px;
    color:hsl(215,30%,50%);
    display:block;
    text-align:center;
    width:100%;
    position:absolute;
    bottom:-12px;
    z-index:-100;
  } 

  /* .string{
    position: absolute;
    color: black;
    background-color: black;
    height: 40px;
    width: 1px;
    bottom: -40px;
    left: 50%;
    z-index: -1;
  }
   */
 .balloon:after {
   /* display:inline-block; top:153px; */
    position:absolute;
    height:100px;
    width:1px;
    margin:0 auto;
    content:"";
    left: 50%;
    top:100%;
    background:rgba(0,0,0,0.2); 
    z-index: 1;
  }  

  @keyframes balloons {
    0%,100%{ transform:translateY(0) rotate(-4deg); }
    50%{ transform:translateY(-25px) rotate(4deg); }
  }
.restore-button{
  position: fixed;
  background-color: var(--cloud-white);
  border-radius: 20px;
  padding:10px;
  z-index: 20;
  top:10%;
  cursor: pointer;
  transition: transform .5s box-shadow .5s opacity .5s;
}

.restore-button:hover{
  transform: scale(1.1);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
  

 /* .skill-cloud{
    width: 100%;
    background-color: white;
    height: 10px;
 }  */


 /* .skill-cloud {
    background: rgba(255, 255, 255);
    width: 300px; 
    height: 100px;
    border-radius: 150px;	
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    animation-iteration-count: 1;
    position: relative;
    z-index: 1;
  }
  
  .skill-cloud:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
  }
  
  .skill-cloud:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    right: 40px;
  }
 */

 .hide{
  opacity: 0;
 }
  

@media(max-width:1024px){
    .skills-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:920px){
  .even{
    transform: translateX(10%);
  }

  .odd{
    transform: translate(-50%);
  }
}

@media(max-width:700px){
    .skills-container{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 25em;
    }

    .even, .odoo{
      transform: translate(0);
    }

    .description-show{
      transform: translateX(-25%);
    }
}


@media(max-width:420px){
  .description-show{
    transform: translateX(-12%);
  }
}