---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Dallas Palumbo portfolio site" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Dallas Palumbo Web Developer</title>

		<meta property="og:title" content="Dallas Palumbo Web Developer" />
		<meta property="og:description" content="A site to showcase my skills as a developer"/>
		<meta property="og:image" content="/products/red-barn-logo.png"/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://dallas-palumbo.com">
		<meta name="twitter:card" content="summary" />
    	<meta name="twitter:title" content="Dallas Palumbo Web Developer" />
    	<meta name="twitter:description" content="A site to showcase my skills as a developer"/>
    	<meta name="twitter:image" content="/dallas.jpg" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--cloud-white:#F1F2ED;
		--off-white:"#E6E7E1";
	}
	html {
		font-family: Raleway, sans-serif;
		/* background-size: 224px; */
		overflow-x: hidden;
		scroll-snap-type:y proximity;
		scroll-behavior: smooth;
	}

	.transition{
		transition: all 2s;
	}

	.dark{
		background-color: black !important;
		color: white;
	}

	.dark-menu{
		background-color: #512DA8 !important;
	}
/* 
	body{
		min-height: 800vh;
		transition: all 2s;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		background: rgb(45,150,253);
		background: linear-gradient(0deg, rgba(45,150,253,1) 0%, rgba(72,205,255,1) 100%);
		overflow-x: hidden;
	} */

	body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background: rgb(45,150,253);
    background: linear-gradient(0deg, rgba(45,150,253,1) 0%, rgba(72,205,255,1) 100%);
    overflow-x: hidden;
    overflow-y: auto;
}

	body.night {
  		background: #0d0950;
  		color: #fff;
		
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1,h2,h3{
		font-family: Noto Sans, sans-serif;
	}
</style>
